* {
    box-sizing: border-box;
  }
  .calcy {
    width: 400px;
    background-color: black;
    color: white;
  }
  
  .startscreen {
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;
  }
  
  .operators-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.0%;
    border: none;
    border-radius: 0;
    font-size: 40px; 
    cursor: pointer;
  }
  
  .clear {
    width: 49.0%;
  }
  
  .triple {
    width: 74.0%;
  }
  
  .operators-button:last-child {
    background-color: #3905ca;
    color: white;
  }
  
  .operators-button:hover {
    background-color: #9cf5af;
  }
  
  .operators-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    margin-bottom: 0.4%;
  }
  
  .operators-button-row:last-child {
    padding-bottom: 0;
  }